// SPDX-License-Identifier: MIT
pragma solidity >=0.5.0 <0.9.0;

library console {
    function _log(bytes memory data) internal view {
        assembly {
            pop(staticcall(gas(), {{ .Addr }}, add(data, 0x20), mload(data), 0, 0))
        }
    }

    {{- range .Args }}

    function log(
        {{- range $index, $type := .Args -}}
            {{- if $index }}, {{ end -}}
            {{ $type | typeToArg }} arg{{ $index }}
        {{- end -}}
    ) internal view {
        _log(abi.encodeWithSelector({{ printf "0x%8x" .Sel -}}
        , {{ range $index, $type := .Args -}}
                {{- if $index }}, {{ end -}}
                arg{{ $index -}}
            {{- end -}}
        ));
    }
    {{- end }}
}

library state {
    function dumpMemory() internal view {
        assembly {
            pop(staticcall(gas(), {{ .Addr }}, 0, mload(0x40), 0, 0))
        }
    }

    function dumpMemory(uint start, uint length) internal view {
        assembly {
            pop(staticcall(gas(), {{ .Addr }}, start, length, 0, 0))
        }
    }
}
