name: Go

on:
  - push
  - pull_request

jobs:
  fmt_vet:
    name: Fmt & Vet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: go fmt
        run: |
          gofmt -s -d . > fmt.out
          cat fmt.out
          test -z $(cat fmt.out)
      - name: go vet
        run: go vet ./...
      - name: go fmt examples
        run: |
          cd examples/
          gofmt -s -d . > fmt.out
          cat fmt.out
          test -z $(cat fmt.out)
      - name: go vet examples
        run: cd examples/ && go vet ./...

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: go test
        run: go test ./...
      - name: go test examples
        run: cd examples/ && go test ./...
